.gallery {
    width: 30%;
    height: 200px;
    display: flex;
    gap: 5px;
}

.gallery img {
    width: 10%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
    transition: all ease 0.1s;
    cursor: pointer;
}

.gallery img:hover {
    width: 200%;
    height: 100%;
}

